# Settings

In [194]:
from config.db import getConnection
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [195]:
pd.set_option('display.max_columns', 30)

In [196]:
#Connecting with database
conn = getConnection()

# Loading Data

In [197]:
# Getting clubs
query_clubes = "SELECT * FROM cartola.clubes"
clubes = pd.read_sql(query_clubes, conn)
clubes.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\1691405254.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clubes = pd.read_sql(query_clubes, conn)

   clube_id nome abreviacao         slug          apelido nome_fantasia
0         1  OUT        OUT                                      Outros
1       262  FLA        FLA     flamengo           Mengão      Flamengo
2       263  BOT        BOT     botafogo         Glorioso      Botafogo
3       264  COR        COR  corinthians            Timão   Corinthians
4       265  BAH        BAH        bahia  Tricolor de Aço         Bahia

In [198]:
query_posicoes = "SELECT * FROM cartola.posicoes"
posicoes = pd.read_sql(query_posicoes, conn)
posicoes.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\1731277171.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  posicoes = pd.read_sql(query_posicoes, conn)

   posicao_id      nome abreviacao
0           1   Goleiro        gol
1           2   Lateral        lat
2           3  Zagueiro        zag
3           4      Meia        mei
4           5  Atacante        ata

In [199]:
query_scouts = "SELECT * FROM cartola.scouts"
scouts = pd.read_sql(query_scouts, conn)
scouts.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\2560286167.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  scouts = pd.read_sql(query_scouts, conn)

   id                   nome abreviacao  pontos observacao
0   1                    Gol          G     8.0
1   2            Assistência          A     5.0
2   3   Finalização na trave         FT     3.0
3   4  Finalização defendida         FD     1.2
4   5   Finalização pra fora         FF     0.8

In [200]:
query_rodadas = "SELECT * FROM cartola.rodadas"
rodadas = pd.read_sql(query_rodadas, conn)
rodadas.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\2058869999.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  rodadas = pd.read_sql(query_rodadas, conn)

   rodada_id nome_rodada              inicio                 fim
0          1    Rodada 1 2025-03-29 18:30:00 2025-03-31 20:00:00
1          2    Rodada 2 2025-04-05 18:30:00 2025-04-06 20:30:00
2          3    Rodada 3 2025-04-12 16:00:00 2025-04-13 20:30:00
3          4    Rodada 4 2025-04-16 18:30:00 2025-04-17 21:30:00
4          5    Rodada 5 2025-04-19 16:00:00 2025-04-21 20:00:00

In [201]:
query_status = "SELECT * FROM cartola.status"
status = pd.read_sql(query_status, conn)
status.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\486490424.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  status = pd.read_sql(query_status, conn)

   status_id        nome
0          2      Dúvida
1          3    Suspenso
2          5  Contundido
3          6        Nulo
4          7    Provável

In [202]:
query_partidas_historico = "SELECT * FROM cartola.partidas_historico"
partidas_historico = pd.read_sql(query_partidas_historico, conn)
partidas_historico.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\4142430073.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  partidas_historico = pd.read_sql(query_partidas_historico, conn)

,id,local,clube_mandante_id,clube_visitante_id,placar_mandante,placar_visitante,clube_mandante_posicao,clube_visitante_posicao,aproveitamento_mandante,aproveitamento_visitante,rodada_id
0,1,Morumbis,276,292,0,0,11,20,"['e', 'e', 'v', 'e', 'e']","['d', 'd', 'd', 'e', 'd']",1
1,2,Mineirão,283,2305,2,1,4,16,"['e', 'v', 'd', 'v', 'v']","['e', 'v', 'e', 'e', 'd']",1
2,3,Arena do Grêmio,284,282,2,1,13,10,"['d', 'd', 'e', 'e', 'v']","['e', 'd', 'v', 'e', 'v']",1
3,4,Castelão (CE),356,266,2,0,17,5,"['e', 'd', 'd', 'e', 'e']","['v', 'v', 'e', 'd', 'v']",1
4,5,Alfredo Jaconi,286,287,2,0,15,18,"['v', 'd', 'e', 'd', 'd']","['e', 'v', 'e', 'e', 'd']",1

In [203]:
query_partidas_totais = "SELECT * FROM cartola.partidas_totais"
partidas_totais = pd.read_sql(query_partidas_totais, conn)
partidas_totais.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\3328968777.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  partidas_totais = pd.read_sql(query_partidas_totais, conn)

   id  mandante_id  visitante_id  rodada_id
0   1          262           285          1
1   2          267           277          1
2   3          275           263          1
3   4          276           292          1
4   5          280           354          1

In [204]:
query_atleta_pontuacao = "SELECT * FROM cartola.atleta_pontuacao"
atleta_pontuacao = pd.read_sql(query_atleta_pontuacao, conn)
atleta_pontuacao.head()

C:\Users\Josef\AppData\Local\Temp\ipykernel_8036\3859137925.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  atleta_pontuacao = pd.read_sql(query_atleta_pontuacao, conn)

,pontuacao_id,apelido,atleta_id,pontuacao,posicao_id,clube_id,rodada_id,entrou_em_campo,scouts
0,1,Yuri Alberto,100652,2.9,5,264,1,1,"{""FD"": 2, ""FS"": 1}"
1,2,Matheus Henrique,100742,-1.9,4,283,1,1,"{""CA"": 1, ""FC"": 3}"
2,3,Lucas Esteves,100846,2.8,2,284,1,1,"{""DS"": 1, ""FF"": 1, ""FS"": 1}"
3,4,Vitinho,100898,10.7,2,263,1,1,"{""DS"": 4, ""FC"": 1, ""SG"": 1}"
4,5,Ronald Lopes,100969,-1.1,4,287,1,1,"{""CA"": 1, ""FC"": 2, ""FS"": 1}"

# Adjusting partidas

In [205]:
partidas_historico = partidas_historico.drop(columns=["id", "local", "rodada_id"])

In [207]:
partidas_historico["key"] = partidas_historico["clube_mandante_id"].astype(str) + "_" + partidas_historico["clube_visitante_id"].astype(str)
partidas_historico

,clube_mandante_id,clube_visitante_id,placar_mandante,placar_visitante,clube_mandante_posicao,clube_visitante_posicao,aproveitamento_mandante,aproveitamento_visitante,key
0,276,292,0,0,11,20,"['e', 'e', 'v', 'e', 'e']","['d', 'd', 'd', 'e', 'd']",276_292
1,283,2305,2,1,4,16,"['e', 'v', 'd', 'v', 'v']","['e', 'v', 'e', 'e', 'd']",283_2305
2,284,282,2,1,13,10,"['d', 'd', 'e', 'e', 'v']","['e', 'd', 'v', 'e', 'v']",284_282
3,356,266,2,0,17,5,"['e', 'd', 'd', 'e', 'e']","['v', 'v', 'e', 'd', 'v']",356_266
4,286,287,2,0,15,18,"['v', 'd', 'e', 'd', 'd']","['e', 'v', 'e', 'e', 'd']",286_287
...,...,...,...,...,...,...,...,...,...
65,267,275,0,1,14,1,"['v', 'd', 'e', 'd', 'd']","['v', 'v', 'v', 'd', 'v']",267_275
66,284,277,1,0,13,19,"['d', 'd', 'e', 'e', 'v']","['d', 'v', 'd', 'd', 'd']",284_277
67,283,262,2,1,4,3,"['e', 'v', 'd', 'v', 'v']","['v', 'v', 'e', 'v', 'd']",283_262
68,280,2305,1,0,2,16,"['v', 'v', 'v', 'v', 'v']","['e', 'v', 'e', 'e', 'd']",280_2305
69,286,282,0,1,15,10,"['v', 'd', 'e', 'd', 'd']","['e', 'd', 'v', 'e', 'v']",286_282

In [208]:
partidas_totais["key"] = partidas_totais["mandante_id"].astype(str) + "_" + partidas_totais["visitante_id"].astype(str)
partidas_totais

      id  mandante_id  visitante_id  rodada_id      key
0      1          262           285          1  262_285
1      2          267           277          1  267_277
2      3          275           263          1  275_263
3      4          276           292          1  276_292
4      5          280           354          1  280_354
..   ...          ...           ...        ...      ...
375  376          282           267         38  282_267
376  377          285           280         38  285_280
377  378          287           276         38  287_276
378  379          354           275         38  354_275
379  380          292           284         38  292_284

[380 rows x 5 columns]

In [209]:
dados_partida = pd.merge(partidas_totais, partidas_historico, on="key")
dados_partida

,id,mandante_id,visitante_id,rodada_id,key,clube_mandante_id,clube_visitante_id,placar_mandante,placar_visitante,clube_mandante_posicao,clube_visitante_posicao,aproveitamento_mandante,aproveitamento_visitante
0,1,262,285,1,262_285,262,285,1,1,3,9,"['v', 'v', 'e', 'v', 'd']","['e', 'd', 'e', 'v', 'd']"
1,2,267,277,1,267_277,267,277,2,1,14,19,"['v', 'd', 'e', 'd', 'd']","['d', 'v', 'd', 'd', 'd']"
2,3,275,263,1,275_263,275,263,0,0,1,12,"['v', 'v', 'v', 'd', 'v']","['d', 'e', 'd', 'v', 'd']"
3,4,276,292,1,276_292,276,292,0,0,11,20,"['e', 'e', 'v', 'e', 'e']","['d', 'd', 'd', 'e', 'd']"
4,5,280,354,1,280_354,280,354,2,2,2,7,"['v', 'v', 'v', 'v', 'v']","['d', 'v', 'd', 'e', 'v']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,283,262,7,283_262,283,262,2,1,4,3,"['e', 'v', 'd', 'v', 'v']","['v', 'v', 'e', 'v', 'd']"
66,67,284,277,7,284_277,284,277,1,0,13,19,"['d', 'd', 'e', 'e', 'v']","['d', 'v', 'd', 'd', 'd']"
67,68,265,263,7,265_263,265,263,1,0,6,12,"['e', 'd', 'v', 'v', 'v']","['d', 'e', 'd', 'v', 'd']"
68,69,354,287,7,354_287,354,287,1,0,7,18,"['d', 'v', 'd', 'e', 'v']","['e', 'v', 'e', 'e', 'd']"
69,70,286,282,7,286_282,286,282,0,1,15,10,"['v', 'd', 'e', 'd', 'd']","['e', 'd', 'v', 'e', 'v']"

In [210]:
dados_partida = dados_partida.drop(columns=["key", "clube_mandante_id", "clube_visitante_id"])
dados_partida

,id,mandante_id,visitante_id,rodada_id,placar_mandante,placar_visitante,clube_mandante_posicao,clube_visitante_posicao,aproveitamento_mandante,aproveitamento_visitante
0,1,262,285,1,1,1,3,9,"['v', 'v', 'e', 'v', 'd']","['e', 'd', 'e', 'v', 'd']"
1,2,267,277,1,2,1,14,19,"['v', 'd', 'e', 'd', 'd']","['d', 'v', 'd', 'd', 'd']"
2,3,275,263,1,0,0,1,12,"['v', 'v', 'v', 'd', 'v']","['d', 'e', 'd', 'v', 'd']"
3,4,276,292,1,0,0,11,20,"['e', 'e', 'v', 'e', 'e']","['d', 'd', 'd', 'e', 'd']"
4,5,280,354,1,2,2,2,7,"['v', 'v', 'v', 'v', 'v']","['d', 'v', 'd', 'e', 'v']"
...,...,...,...,...,...,...,...,...,...,...
65,66,283,262,7,2,1,4,3,"['e', 'v', 'd', 'v', 'v']","['v', 'v', 'e', 'v', 'd']"
66,67,284,277,7,1,0,13,19,"['d', 'd', 'e', 'e', 'v']","['d', 'v', 'd', 'd', 'd']"
67,68,265,263,7,1,0,6,12,"['e', 'd', 'v', 'v', 'v']","['d', 'e', 'd', 'v', 'd']"
68,69,354,287,7,1,0,7,18,"['d', 'v', 'd', 'e', 'v']","['e', 'v', 'e', 'e', 'd']"
69,70,286,282,7,0,1,15,10,"['v', 'd', 'e', 'd', 'd']","['e', 'd', 'v', 'e', 'v']"

In [214]:
dados_partida["resultado"] = dados_partida.apply(lambda x: 1 if x["placar_mandante"] > x["placar_visitante"] else (0 if x["placar_mandante"] == x["placar_visitante"] else -1), axis=1)
dados_partida

,id,mandante_id,visitante_id,rodada_id,placar_mandante,placar_visitante,clube_mandante_posicao,clube_visitante_posicao,aproveitamento_mandante,aproveitamento_visitante,resultado
0,1,262,285,1,1,1,3,9,"['v', 'v', 'e', 'v', 'd']","['e', 'd', 'e', 'v', 'd']",0
1,2,267,277,1,2,1,14,19,"['v', 'd', 'e', 'd', 'd']","['d', 'v', 'd', 'd', 'd']",1
2,3,275,263,1,0,0,1,12,"['v', 'v', 'v', 'd', 'v']","['d', 'e', 'd', 'v', 'd']",0
3,4,276,292,1,0,0,11,20,"['e', 'e', 'v', 'e', 'e']","['d', 'd', 'd', 'e', 'd']",0
4,5,280,354,1,2,2,2,7,"['v', 'v', 'v', 'v', 'v']","['d', 'v', 'd', 'e', 'v']",0
...,...,...,...,...,...,...,...,...,...,...,...
65,66,283,262,7,2,1,4,3,"['e', 'v', 'd', 'v', 'v']","['v', 'v', 'e', 'v', 'd']",1
66,67,284,277,7,1,0,13,19,"['d', 'd', 'e', 'e', 'v']","['d', 'v', 'd', 'd', 'd']",1
67,68,265,263,7,1,0,6,12,"['e', 'd', 'v', 'v', 'v']","['d', 'e', 'd', 'v', 'd']",1
68,69,354,287,7,1,0,7,18,"['d', 'v', 'd', 'e', 'v']","['e', 'v', 'e', 'e', 'd']",1
69,70,286,282,7,0,1,15,10,"['v', 'd', 'e', 'd', 'd']","['e', 'd', 'v', 'e', 'v']",-1

# Adjusting atleta_pontuacao

In [100]:
import json

# Expande os scouts em colunas separadas
scouts_df = atleta_pontuacao['scouts'].apply(lambda x: json.loads(x) if isinstance(x, str) else {})
scouts_df = pd.json_normalize(scouts_df)

# Junta com o DataFrame principal
dados = pd.concat([atleta_pontuacao.drop(columns=['scouts']), scouts_df], axis=1)
dados

,pontuacao_id,apelido,atleta_id,pontuacao,posicao_id,clube_id,rodada_id,entrou_em_campo,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,V,PC,DP,CV,FT,PP,PS,GC
0,1,Yuri Alberto,100652,2.9,5,264,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Matheus Henrique,100742,-1.9,4,283,1,1,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Lucas Esteves,100846,2.8,2,284,1,1,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Vitinho,100898,10.7,2,263,1,1,NaN,NaN,NaN,1.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Ronald Lopes,100969,-1.1,4,287,1,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2298,Luis Zubeldía,99366,0.0,6,276,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,2299,Michael,99392,1.5,5,262,7,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2299,2300,Rossi,99552,15.4,1,262,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2300,2301,Arias,99815,14.5,4,266,7,1,NaN,2.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,2302,Paulinho,99818,1.2,5,275,7,1,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
dados = dados.merge(posicoes, on='posicao_id', how='left')
dados = dados.merge(clubes, on='clube_id', how='left')
dados.head()

,pontuacao_id,apelido_x,atleta_id,pontuacao,posicao_id,clube_id,rodada_id,entrou_em_campo,FD,FS,CA,FC,DS,FF,SG,...,V,PC,DP,CV,FT,PP,PS,GC,nome_x,abreviacao_x,nome_y,abreviacao_y,slug,apelido_y,nome_fantasia
0,1,Yuri Alberto,100652,2.9,5,264,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,ata,COR,COR,corinthians,Timão,Corinthians
1,2,Matheus Henrique,100742,-1.9,4,283,1,1,NaN,NaN,1.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,mei,CRU,CRU,cruzeiro,Raposa,Cruzeiro
2,3,Lucas Esteves,100846,2.8,2,284,1,1,NaN,1.0,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,lat,GRE,GRE,gremio,Imortal,Grêmio
3,4,Vitinho,100898,10.7,2,263,1,1,NaN,NaN,NaN,1.0,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,lat,BOT,BOT,botafogo,Glorioso,Botafogo
4,5,Ronald Lopes,100969,-1.1,4,287,1,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,mei,VIT,VIT,vitoria,Vitória,Vitória

In [77]:
dados = dados.drop(columns=["abreviacao_x", "abreviacao_y", "slug", "apelido_y", "nome_fantasia", "entrou_em_campo", 'pontuacao_id', 'atleta_id', 'posicao_id', 'clube_id',])
dados

,apelido_x,pontuacao,rodada_id,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,V,PC,DP,CV,FT,PP,PS,GC,nome_x,nome_y
0,Yuri Alberto,2.9,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,COR
1,Matheus Henrique,-1.9,1,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,CRU
2,Lucas Esteves,2.8,1,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,GRE
3,Vitinho,10.7,1,NaN,NaN,NaN,1.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,BOT
4,Ronald Lopes,-1.1,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,VIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Luis Zubeldía,0.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Técnico,SAO
2298,Michael,1.5,7,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,FLA
2299,Rossi,15.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Goleiro,FLA
2300,Arias,14.5,7,NaN,2.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,FLU
2301,Paulinho,1.2,7,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,PAL

In [78]:
dados = dados.rename({"nome_x": "posicao", "nome_y": "time", "apelido_x": "Nome"}, axis=1)
dados

,Nome,pontuacao,rodada_id,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,V,PC,DP,CV,FT,PP,PS,GC,posicao,time
0,Yuri Alberto,2.9,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,COR
1,Matheus Henrique,-1.9,1,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,CRU
2,Lucas Esteves,2.8,1,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,GRE
3,Vitinho,10.7,1,NaN,NaN,NaN,1.0,4.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lateral,BOT
4,Ronald Lopes,-1.1,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,VIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Luis Zubeldía,0.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Técnico,SAO
2298,Michael,1.5,7,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,FLA
2299,Rossi,15.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Goleiro,FLA
2300,Arias,14.5,7,NaN,2.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meia,FLU
2301,Paulinho,1.2,7,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atacante,PAL

In [79]:
dados.isnull().sum()
dados = dados.fillna(0)
dados

,Nome,pontuacao,rodada_id,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,V,PC,DP,CV,FT,PP,PS,GC,posicao,time
0,Yuri Alberto,2.9,1,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atacante,COR
1,Matheus Henrique,-1.9,1,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Meia,CRU
2,Lucas Esteves,2.8,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lateral,GRE
3,Vitinho,10.7,1,0.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lateral,BOT
4,Ronald Lopes,-1.1,1,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Meia,VIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Luis Zubeldía,0.0,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Técnico,SAO
2298,Michael,1.5,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atacante,FLA
2299,Rossi,15.4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Goleiro,FLA
2300,Arias,14.5,7,0.0,2.0,0.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Meia,FLU
2301,Paulinho,1.2,7,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atacante,PAL

In [80]:
dados = pd.get_dummies(dados, columns=['posicao', 'time'])
dados

,Nome,pontuacao,rodada_id,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,...,time_CRU,time_FLA,time_FLU,time_FOR,time_GRE,time_INT,time_JUV,time_MIR,time_PAL,time_RBB,time_SAN,time_SAO,time_SPT,time_VAS,time_VIT
0,Yuri Alberto,2.9,1,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,Matheus Henrique,-1.9,1,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,Lucas Esteves,2.8,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,Vitinho,10.7,1,0.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,Ronald Lopes,-1.1,1,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Luis Zubeldía,0.0,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2298,Michael,1.5,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2299,Rossi,15.4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,...,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2300,Arias,14.5,7,0.0,2.0,0.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2301,Paulinho,1.2,7,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [81]:
dados['mitou'] = dados['pontuacao'] > 7.27
dados

,Nome,pontuacao,rodada_id,FD,FS,CA,FC,DS,FF,SG,A,G,I,DE,GS,...,time_FLA,time_FLU,time_FOR,time_GRE,time_INT,time_JUV,time_MIR,time_PAL,time_RBB,time_SAN,time_SAO,time_SPT,time_VAS,time_VIT,mitou
0,Yuri Alberto,2.9,1,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,Matheus Henrique,-1.9,1,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,Lucas Esteves,2.8,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3,Vitinho,10.7,1,0.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,Ronald Lopes,-1.1,1,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,Luis Zubeldía,0.0,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2298,Michael,1.5,7,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2299,Rossi,15.4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,...,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2300,Arias,14.5,7,0.0,2.0,0.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
2301,Paulinho,1.2,7,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [63]:
dados_ordenado = dados.sort_values(by=['Nome', 'rodada_id'])

# 2. Criar a variável de "pontuação da próxima rodada" para cada jogador
dados_ordenado['pontuacao_proxima'] = dados_ordenado.groupby('Nome')['pontuacao'].shift(-1)

# 3. Remover linhas onde a pontuação futura está ausente (última rodada de cada jogador)
dados_modelo = dados_ordenado.dropna(subset=['pontuacao_proxima']).copy()

# 4. (Opcional) Remover colunas que não serão usadas como features
dados_modelo = dados_modelo.drop(columns=['pontuacao'])  # já vamos prever a próxima

# 5. Separar features (X) e target (y)
X = dados_modelo.drop(columns=['pontuacao_proxima', 'Nome'])  # Nome não entra no treino
y = dados_modelo['pontuacao_proxima']

In [84]:
X = dados.drop(columns=['pontuacao', 'mitou', 'Nome'])  # ou outras colunas irrelevantes
y = dados['mitou']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

modelo = RandomForestClassifier()
modelo.fit(X_train, y_train)

y_pred = modelo.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.96      0.99      0.97       580
        True       0.92      0.80      0.86       111

    accuracy                           0.96       691
   macro avg       0.94      0.89      0.92       691
weighted avg       0.96      0.96      0.96       691